/* Adicionar aqui toda a estilização criada para sua aplicação. */
.card-cadastro {
    background-color: #dcdcdc;
    padding: 14px;
    border-radius: 10px;
    width: 110%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login{
    justify-content: center;
    padding: 5%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    color: #e4005a;
    background-size: cover;
    display: flex;
    font-size: 20px;
    text-align: center;
    height: 625px;
}

.container-login{
    padding: 15%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-login {
    background-color: #dcdcdc;
    padding: 25px;
    border-radius: 10px;
    width: 110%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.campo input {
    width: 600px;
    margin: 0 auto 4%;
    padding: 15px;
    border-radius: 17px;
    border: 3px solid #32b9cd;
    text-align: center;
    display: block;
}

.formulario .campo{
    text-align: left;
}

.formulario .botao{
    background-color:#e4005a ;
    padding: 1%;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    border:5px solid #e4005a;
    color: white;
    font-size: 25px;
}

 .formulario{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin:10;
    font-family: sans-serif;
}

:root {

    --azul: #32b9cd;
    --amarelo: #e3b062;
}

.header {
    background-color: #000000; /* definir a cor do fundo desse cabeçalho */
    border-bottom: 3px solid var(--azul); /* criou uma borda de 3px na parte de baixo, usando a cor da variavel azul em :root */
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo {
    color: var(--azul);
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarelo);
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--amarelo);
    text-decoration: none;
}

.agora {
    font-weight: bolder;
}

.banner { /* */
    height: 400px;
    width: 100;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
}

.banner .container { /* */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p { /* */
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;
}

.banner .container span { /* */
    font-weight: bolder;
}

.social { /* */
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container { /* */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes { /* */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box img {
    width: 120px;
    height: 120px;

}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #e4005a;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: var(--azul);
}

.footer .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.footer h4{
    margin-bottom: 0;

}


